<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem
            id="helpdesk_menu"
            name="Helpdesk"
            parent="base.menu_custom"
            sequence="22"
            groups="neok_bug_submission.bug_submission_grp"
    />

    <menuitem
            id="bug_submission_menu"
            name="Bug Submission List"
            parent="helpdesk_menu"
            action="bug_submission_action"
            sequence="1"
            groups="neok_bug_submission.bug_submission_grp"
    />

</odoo>